{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>

  <link rel="stylesheet" href="{% static 'CSS/Font.css' %}">

  <link rel="stylesheet" href="{% static 'CSS/Login.css' %}">

  <link rel="shortcut icon" type="x-icon" href="https://img.icons8.com/?size=100&id=1CE0gYy8a1e6&format=png&color=000000">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

  <div class="d-flex justify-content-center align-items-center gap-5" style="height: 100vh;">

      <div>

        <img class="loginImg" src="https://img.freepik.com/free-vector/placeholder-concept-illustration_114360-4983.jpg?t=st=1732445808~exp=1732449408~hmac=92dbc9e0d472a4102156ce05efa1763ff753808e422e1b8f2ce8b368ab3409f2&w=740" alt="">

      </div>

      <div>

        <div class="card p-5 shadow-lg bg-primary bg-gradient border border-white">

          <h3 class="fontcolor">Login</h3>
          <hr class="border border-white">
  
          <form method="post" class="mb-2 fontcolor">
  
            {% csrf_token %}
            {{ form.as_p }}
  
            <button type="submit" class="log float-end rounded-pill p-3">Login</button>
  
          </form>

          <a href="#" class="fontcolor d-flex justify-content-center mt-3">Dont't have an account?</a>
  
        </div>

      </div>

  </div>

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>