
<div>

  <div class="text-center mb-5">

    <h2 >Special Discount For Today</h2>

  </div>

  <div class="d-flex flex-row justify-content-around align-items-center">

      {% for applys in apply %}

      <div class="">

          <div class="card shadow p-3 mb-5" style="width: 18rem; height: 400px;">

            <div class="d-flex justify-content-center">

              <img style="max-width: 200px;" class="p-3" src="{{applys.Image.url}}" alt="Img">

            </div>


            <div class="card-body fontcolor">            

              <div class="d-flex justify-content-between align-items-center">

                <h3 class="card-title">{{applys.Title}}</h3>
                <h3 class="border rounded bg-primary ps-3 pe-3 pt-1 pb-1 text whiteColor shadow-sm">${{applys.Price}}</h3>

              </div>
              
              <h6 id="Rating_star">⭐{{applys.Rating}}</h6>
              <p class="card-text">{{applys.Description}}</p>

            </div>

            <div class="d-flex justify-content-center">

              <a href="#" class="btn btn-primary" style="width: 100%;">Eat</a>

            </div>

        </div>

      </div>

      {% endfor %}

  </div>

</div>