<div class="">

  <div>

    {% for applys in apply %}

    <div class="card" style="width: 18rem;">

      <img src="/media/{{applys.Image}}" class="card-img-top" alt="">

      <div class="card-body">

        <h2>${{applys.Price}}</h2>
        <p id="disRate"></p>
        <h3 id="Rating_star">{{applys.Rating}}</h3>
        <h4 class="card-title">{{applys.Title}}</h4>
        <p class="card-text">{{applys.Description}}</p>
        <a href="#" class="btn btn-primary">Eat</a>

      </div>

    </div>

    {% endfor %}

  </div>

</div>