.NavTitle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.logo {
    width: 100px;
}
.MainBack {
    background-image: url('https://img.freepik.com/free-photo/burger-french-fries-plate-with-copy-space_23-2148235009.jpg?t=st=1732287669~exp=1732291269~hmac=c728d15c64c35c86e0427fcd80d1f88735343d11903c118347dfef0c1fe3c679&w=996');
}